___
<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.carrerasenlinea.mx/logos/original/logo-instituto-tecnologico-y-de-estudios-superiores-de-occidente.png" width="150px" height="100px" />

# Microestructuras y Sistemas de Trading
## Laboratorio 4
### Equipo T

## <font color="navy">  "ANÁLISIS FUNDAMENTAL"
    
* <font color="black">**INTEGRANTE 1 :**</font> Hannia Cecilia Lomelí Salado
* <font color="black">**INTEGRANTE 2 :**</font> Tere Castillo
* <font color="black">**INTEGRANTE 3 :**</font> Marysol Cantarero Velazquez Del Valle 
* <font color="black">**INTEGRANTE 4 :**</font> Gaspar Benitez Fregoso

### <font color = navy> SITUACIÓN
En el mercado de Forex es ampliamente utilizado el "Calendario Económico" el cual es aquel que incorpora información de las principales economíad del mundo. Esta información se utiliza para realizar distintos análisis.

### <font color = navy> OBJETIVO
Describir los efectos cuantitativos en el precio durante los comunicados de los indicadores macroeconómicos " Trade Balance EUR" y "Trade Balance USD", así como detectar oportunidades de inversión a partir de los resultados obtenidos. 
    
### <font color = navy> MARCO TEÓRICO
"Trade Balance EUR" = La Balanza comercial mide la diferencia de valor entre los bienes y servicios importados y exportados durante el período informado. Un número positivo indica que se exportaron más bienes y servicios que importados. Es decir si la lectura es positiva, EUR tiene un super hábit en la balanza comercial , de ser el caso contrario se tendría un déficit
    
"Trade Balance USD" = La Balanza comercial mide la diferencia de valor entre los bienes y servicios importados y exportados durante el período informado. Un número positivo indica que se exportaron más bienes y servicios que importados. Es decir si la lectura es positiva, USD tiene un super hábit en la balanza comercial , de ser el caso contrario se tendría un déficit

 Reglas de lectura indicadores = Ej: Si X indicador es positivo entonces se espera movimiento alcista) !!!

### <font color = navy> Procedimiento

Importando librerías

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [23]:
#CALENDARIO ECONÓMICO
cal_ec = pd.read_csv("calendario_economico.csv") # leen los datos del excel calendario economico
cal_ec['timestamp'] = [pd.to_datetime(cal_ec.iat[i,0]).tz_localize('GMT') for i in range (len(cal_ec))]
cal_ec['timestamp'] = pd.to_datetime(cal_ec['timestamp'],format='%Y-%m-%d')
# iat ayuda a agarrar solo un valor de un dataframe
# tz_localize, ubica en un index de un dataframe la zona horaria(en este caso 'GMT')
cal_ec.head() #MES/DIA

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-05 09:30:00+00:00,EUR,Sentix Investor Confidence,European Monetary Union,1,-34.4,-42.3,NaN
1,2009-01-05 15:00:00+00:00,USD,Construction Spending (MoM),United States,1,-1.2,-0.4,-1.3
2,2009-01-06 08:55:00+00:00,EUR,Markit Services PMI,Germany,1,46.6,46.4,46.4
3,2009-01-06 09:00:00+00:00,EUR,Markit Services PMI,European Monetary Union,0,42.1,42.0,42.0
4,2009-01-06 10:00:00+00:00,EUR,Consumer Price Index (YoY),European Monetary Union,2,1.6,2.1,1.8

In [36]:
# PRECIOS HISTÓRICOS (2019) (para hacer pruebas iniciales)
precios = pd.read_csv("precios_historicos_eurusd.csv") #Lectura de datos
precios['timestamp'] = [pd.to_datetime(precios.iat[i,0]).tz_localize('GMT') for i in range (len(precios))] 
# iat ayuda a agarrar solo un valor de un dataframe
# tz_localize, ubica en un index de un dataframe la zona horaria(en este caso 'GMT')
precios.head() #MES/DIA

                  timestamp     open     high      low    close
0 2009-01-06 05:00:00+00:00  1.35564  1.35565  1.35383  1.35439
1 2009-01-06 05:05:00+00:00  1.35443  1.35489  1.35424  1.35474
2 2009-01-06 05:10:00+00:00  1.35480  1.35552  1.35439  1.35539
3 2009-01-06 05:15:00+00:00  1.35545  1.35549  1.35101  1.35101
4 2009-01-06 05:20:00+00:00  1.35101  1.35130  1.35021  1.35086

In [25]:
EUR = pd.DataFrame() #data frames vacios
USD = pd.DataFrame() #data frames vacios
for i in range(len(cal_ec)):
    d = cal_ec.index[i]
    if cal_ec['Name'][i] == "Trade Balance EUR":
        EUR[d] = cal_ec.iloc[i]
    elif cal_ec['Name'][i] == "Trade Balance":
        USD[d] = cal_ec.iloc[i]
EUR = EUR.T; EUR = EUR.reset_index(drop=True) 
EUR=EUR.drop(0);EUR = EUR.reset_index(drop=True)  # Se quita el primer dato ya que no tiene previous y es el primero.
USD = USD.T; USD = USD.reset_index(drop=True)

In [26]:
EUR.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2011-02-08 07:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.1,-4.1,NaN
1,2011-03-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.1,-5.1,NaN
2,2011-04-07 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.4,-6.1,NaN
3,2011-05-06 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.906,-6.4,NaN
4,2011-06-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-7.2,-5.906,NaN

In [27]:
USD.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-13 13:30:00+00:00,USD,Trade Balance,United States,3,-41.58,-56.69,-51.4
1,2009-02-11 13:30:00+00:00,USD,Trade Balance,United States,3,-39.9,-41.58,-35.9
2,2009-03-13 12:30:00+00:00,USD,Trade Balance,United States,3,-36.2,-39.9,-38
3,2009-04-09 12:30:00+00:00,USD,Trade Balance,United States,3,-26.13,-36.2,-36.7
4,2009-05-12 12:30:00+00:00,USD,Trade Balance,United States,3,-28.53,-26.13,-28.9

Para las filas que no tienen Consensus, se usará Previous como Consensus

In [28]:
EUR['consensus'][0] = EUR['previous'][0] # para el primer dato se agarra el mismo de previous ya que no se hay uno antes para sustituirlo
for i in range(len(EUR['consensus'])-1): #ciclo for para rellenar los datos vacios de consensus con los datos de previous
    strEUR = str(EUR['consensus'][i+1])
    strUSD = str(USD['consensus'][i])
    if strEUR == 'nan':
        EUR['consensus'][i+1] = EUR['previous'][i]
    if strUSD == 'nan':
        USD['consensus'][i] = USD['previous'][i-1]

In [29]:
EUR.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2011-02-08 07:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.1,-4.1,-4.1
1,2011-03-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.1,-5.1,-4.1
2,2011-04-07 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.4,-6.1,-5.1
3,2011-05-06 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.906,-6.4,-6.1
4,2011-06-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-7.2,-5.906,-6.4

In [30]:
USD.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus
0,2009-01-13 13:30:00+00:00,USD,Trade Balance,United States,3,-41.58,-56.69,-51.4
1,2009-02-11 13:30:00+00:00,USD,Trade Balance,United States,3,-39.9,-41.58,-35.9
2,2009-03-13 12:30:00+00:00,USD,Trade Balance,United States,3,-36.2,-39.9,-38
3,2009-04-09 12:30:00+00:00,USD,Trade Balance,United States,3,-26.13,-36.2,-36.7
4,2009-05-12 12:30:00+00:00,USD,Trade Balance,United States,3,-28.53,-26.13,-28.9

Clasificación de las observaciones de los comunicados según el siguiente criterio:

    oA Actual >= Consensus >= Previous
    oB Actual >= Consensus < Previous
    oC Actual < Consensus >= Previous
    oD Actual < Consensus < Previous

In [96]:
def clasificacion(indicador): #funcion de creacion de esenarios 
    indicador['escenario'] = '0'
    for i in range(len(indicador['actual'])):
        if str(indicador['actual'][i] >= indicador['consensus'][i] >= indicador['previous'][i]) == 'True':
            indicador['escenario'][i] = 'A'
        elif str(indicador['actual'][i] >= indicador['consensus'][i] < indicador['previous'][i]) == 'True':
            indicador['escenario'][i] = 'B'
        elif str(indicador['actual'][i] < indicador['consensus'][i] >= indicador['previous'][i]) == 'True':
            indicador['escenario'][i] = 'C'
        elif str(indicador['actual'][i] < indicador['consensus'][i] < indicador['previous'][i]) == 'True':
            indicador['escenario'][i] = 'D'
    return(indicador)
EUR = clasificacion(EUR)
USD = clasificacion(USD)

In [98]:
EUR.head() #DIA/MES

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario
0,2011-02-08 07:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.1,-4.1,-4.1,C
1,2011-03-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.1,-5.1,-4.1,C
2,2011-04-07 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.4,-6.1,-5.1,C
3,2011-05-06 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.906,-6.4,-6.1,A
4,2011-06-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-7.2,-5.906,-6.4,D

In [99]:
USD.head() # MES/DIA

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario
0,2009-01-13 13:30:00+00:00,USD,Trade Balance,United States,3,-41.58,-56.69,-51.4,A
1,2009-02-11 13:30:00+00:00,USD,Trade Balance,United States,3,-39.9,-41.58,-35.9,C
2,2009-03-13 12:30:00+00:00,USD,Trade Balance,United States,3,-36.2,-39.9,-38,A
3,2009-04-09 12:30:00+00:00,USD,Trade Balance,United States,3,-26.13,-36.2,-36.7,B
4,2009-05-12 12:30:00+00:00,USD,Trade Balance,United States,3,-28.53,-26.13,-28.9,B

In [100]:
precios.head() #MES/DIA

                  timestamp     open     high      low    close
0 2009-01-06 05:00:00+00:00  1.35564  1.35565  1.35383  1.35439
1 2009-01-06 05:05:00+00:00  1.35443  1.35489  1.35424  1.35474
2 2009-01-06 05:10:00+00:00  1.35480  1.35552  1.35439  1.35539
3 2009-01-06 05:15:00+00:00  1.35545  1.35549  1.35101  1.35101
4 2009-01-06 05:20:00+00:00  1.35101  1.35130  1.35021  1.35086

In [106]:
gEUR = [int(np.where(precios['timestamp'] == EUR['timestamp'][i])[0]) for i in range(0, len(EUR.index))]
intervEUR = [precios.iloc[j-6:j+7] for j in gEUR]
intervEUR[0]

                       timestamp     open     high      low    close
159756 2011-02-08 07:15:00+00:00  1.36319  1.36362  1.36278  1.36347
159757 2011-02-08 07:20:00+00:00  1.36350  1.36395  1.36347  1.36353
159758 2011-02-08 07:25:00+00:00  1.36355  1.36439  1.36355  1.36391
159759 2011-02-08 07:30:00+00:00  1.36388  1.36449  1.36367  1.36435
159760 2011-02-08 07:35:00+00:00  1.36438  1.36440  1.36380  1.36422
159761 2011-02-08 07:40:00+00:00  1.36425  1.36431  1.36356  1.36372
159762 2011-02-08 07:45:00+00:00  1.36376  1.36392  1.36350  1.36382
159763 2011-02-08 07:50:00+00:00  1.36380  1.36404  1.36358  1.36364
159764 2011-02-08 07:55:00+00:00  1.36366  1.36366  1.36260  1.36262
159765 2011-02-08 08:00:00+00:00  1.36260  1.36308  1.36230  1.36276
159766 2011-02-08 08:05:00+00:00  1.36278  1.36370  1.36278  1.36316
159767 2011-02-08 08:10:00+00:00  1.36318  1.36344  1.36228  1.36228
159768 2011-02-08 08:15:00+00:00  1.36230  1.36292  1.36230  1.36286

In [113]:
gUSD = [int(np.where(precios['timestamp'] == USD['timestamp'][i])[0]) for i in range(0, len(USD.index))]
intervUSD = [precios.iloc[j-6:j+7] for j in gUSD]
intervUSD[0]

TypeError: only size-1 arrays can be converted to Python scalars

In [130]:
EUR['Direccion']=[intervEUR[i].iloc[12]['close'] - intervEUR[i].iloc[6]['open'] for i in range(len(intervEUR))]
EUR['Pips Alcistas']=[max(intervEUR[i].iloc[6:]['open']) - intervEUR[i].iloc[6]['open'] for i in range(len(intervEUR))]
EUR['Pips Bajistas']=[intervEUR[i].iloc[6]['open'] - min(intervEUR[i].iloc[:7]['open']) for i in range(len(intervEUR))]
EUR['Volatilidad']=[max(intervEUR[i]['open']) - min(intervEUR[i]['open']) for i in range(len(intervEUR))]
EUR.head()

,timestamp,Currency,Name,Country,Volatility,actual,previous,consensus,escenario,Direccion,Pips Alcistas,Pips Bajistas,Volatilidad
0,2011-02-08 07:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.1,-4.1,-4.1,C,-0.00090,0.00004,0.00057,0.00208
1,2011-03-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.1,-5.1,-4.1,C,-0.00023,0.00020,0.00002,0.00140
2,2011-04-07 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-6.4,-6.1,-5.1,C,-0.00132,0.00028,0.00000,0.00209
3,2011-05-06 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-5.906,-6.4,-6.1,A,-0.00119,0.00051,0.00000,0.00387
4,2011-06-08 06:45:00+00:00,EUR,Trade Balance EUR,France,1,-7.2,-5.906,-6.4,D,0.00014,0.00074,0.00005,0.00246

In [114]:
USD['Direccion']=[intervUSD[i].iloc[12]['close'] - intervUSD[i].iloc[6]['open'] for i in range(len(intervUSD))]
USD['Pips Alcistas']=[max(intervUSD[i].iloc[6:]['open']) - intervUSD[i].iloc[6]['open'] for i in range(len(intervUSD))]
USD['Pips Bajistas']=[intervUSD[i].iloc[6]['open'] - min(intervUSD[i].iloc[:7]['open']) for i in range(len(intervUSD))]
USD['Volatilidad']=[max(intervUSD[i]['open']) - min(intervUSD[i]['open']) for i in range(len(intervUSD))]
USD.head()

In [ ]:
#FALTA:
# Revisar si estan bien metricas ( nose low o high de cual es )
# Graficar Metricas escogiendo un escenario (A,B,C o D)